.page-header {
  position: relative;
  display: flex;

  @media (--small-vp) {
    flex-direction: column;
  }

  @media (--not-small-vp) {
    justify-content: space-between;
  }
}

.page-header__wrapper-logo {
  display: flex;
}

.page-header__logo-link {
  text-decoration: none;
}

.page-header__logo-image {
  height: 60px;
  width: auto;

  @media (--not-small-vp) {
    height: 80px;
    width: 82px;
  }

  @media (--wide-vp) {
    height: 80px;
    width: 170px;
  }
}

.page-header__logo-description {
  @media (--wide-vp) {
    display: block;
  }
}
