.page {
  height: 100%;
  font-family: var(--regular-font);
  color: var(--base-black);
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: var(--white);
}

.page__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__wrapper-center {
  margin: 0 20px;

  @media (--wide-vp) {
    width: 1360px;
    margin: 0 auto;
  }
}
