<footer class="page-footer {% if permalink == "index.html" %}page-footer--within_index{% endif %}">

  <div class="page-footer__location location">
    <iframe class="page-footer__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.8301733086023!2d30.316492!3d59.9681405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696315bcebbd7f3%3A0xe0d833dfef898281!2z0L3QsNCxLiBQ0LXQutC4INCa0LDRgNC_0L7QstC60LgsIDUsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5NzAyMg!5e0!3m2!1sru!2sby!4v1656333013093!5m2!1sru!2sby" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <noscript class="page-footer__noscript">
      {{ macros.picture("location__noscript-image", "./img/", "footer-location", "png", "Карта местности. Расположение локации на местности.", "320", "420") }}
    </noscript>
  </div>

  <div class="page__wrapper-center">

    <div class="page-footer__container">

      <div class="page-footer__logo">
        <a class="page-footer__logo-link" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
          <picture>
            <source media="(min-width: 1400px)" srcset="./img/logos.svg#mark-l">
            <source media="(min-width: 768px)" srcset="./img/logos.svg#mark-l">
            <img class="page-footer__logo-image" src="./img/logos.svg#mark-m" width="82" height="36" alt="Логотип магазина.">
          </picture>
        </a>
        <span class="page-footer__logo-description" hidden>Интернет-магазин кофейных напитков</span>
      </div>

      <div class="page-footer__social social">
        <ul class="social__list">

          <li class="social__item">
            <a class="social__link social__link--vkontakte" href="#">
              <span class="page__hidden">Вконтакте</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link social__link--pinterest" href="#">
              <span class="page__hidden">Пинтерест</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link social__link--ok" href="#">
              <span class="page__hidden">Однокласники</span>
            </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="page-footer__info info">
      <ul class="info__shop-list">

        <li class="info__shop-item">
          <a class="info__shop-link" href="catalog.html">
            <span class="info__shop-description">Каталог</span>
          </a>
        </li>

        <li class="info__shop-item">
          <a class="info__shop-link" href="delivery.html">
            <span class="info__shop-description">Доставка</span>
          </a>
        </li>

        <li class="info__shop-item">
          <a class="info__shop-link" href="payment.html">
            <span class="info__shop-description">Способы оплаты</span>
          </a>
        </li>

        <li class="info__shop-item">
          <a class="info__shop-link" href="contacts.html">
            <span class="info__shop-description">О нас</span>
          </a>
        </li>

      </ul>

      <ul class="info__media-list">

        <li class="info__media-item">
          <a class="info__media-link" href="blog.html">
            <span class="info__media-description">Блог</span>
          </a>
        </li>

        <li class="info__media-item">
          <a class="info__media-link" href="mass-media.html">
            <span class="info__media-description">Информация для СМИ</span>
          </a>
        </li>

        <li class="info__media-item">
          <a class="info__media-link" href="law-info.html">
            <span class="info__media-description">Правовая информация</span>
          </a>
        </li>

      </ul>

      <address class="contacts__text">
        <p class="contacts__street">Санкт-Петербург, набережная реки Карповки, дом 5</p>
        <a class="footer-contacts-phone" href="tel:+79999999999">+7 (999) 999-99-99</a>
      </address>

    </div>

    <div class="page-footer__copyright copyright">
      <span class="copyright__description">Разработано в</span>
      <a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">HTML Academy</a>
    </div>

  </div>
</footer>
