<header class="page-header page__wrapper-center">

  <div class="page-header__wrapper-logo">
    <a class="page-header__logo-link" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
      <picture>
        <source media="(min-width: 1400px)" srcset="./img/logos.svg#mark-l">
        <source media="(min-width: 768px)" srcset="./img/logos.svg#mark-m">
        <img class="page-header__logo-image" src="./img/logos.svg#mark-s" width="32" height="36" alt="Логотип магазина.">
      </picture>
    </a>
    <span class="page-header__logo-description" hidden>Интернет-магазин<br>кофейных напитков</span>
  </div>

  <nav class="page-header__main-nav main-nav {% if permalink == "index.html" %}main-nav--within_index{% endif %}">

    <button class="main-nav__toggle" type="button" hidden>
      <span class="page__hidden">Открыть или закрыть меню.</span>
    </button>

    <ul class="main-nav__list">

      {% for page in pages %}
        <li class="main-nav__item">
          <a
            class="main-nav__link"
            href="{{ page.path }}"
            {% if permalink == page.path %}
              aria-current="page"
            {% endif %}
          >{{ page.name }}</a>
        </li>

      {% else %}
        <li>Из навигации пропали пункты меню 😕 искать в data.js</li>
      {% endfor %}

    </ul>

    <ul class="main-nav__user-list">

      <li class="main-nav__user-item">
        <a class="main-nav__user-link main-nav__user-link--office" href="#">
          <span class="page__hidden">Личный кабинет.</span>
          <span class="main-nav__user-description" hidden>Войти</span>
        </a>
      </li>

      <li class="main-nav__user-item">
        <a class="main-nav__user-link main-nav__user-link--basket" href="#">
          <span class="page__hidden">Корзина покупателя.</span>
          <span class="main-nav__user-description" hidden>Корзина</span>
        </a>
      </li>

    </ul>
  </nav>

</header>
