{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{%- import "./templates/macros.twig" as macros -%}

<!DOCTYPE html>
<html class="page" lang="ru">
{% include "./templates/head.twig" %}

<body class="page__body">
  {% include "./templates/header.twig" %}

  <main class="page-main">
    <h1 class="page__hidden">Кофейные напитки от компании «Drink2Go».</h1>

    <section class="page-main__slide">
      <div class="page__wrapper-center">
        <h2 class="page__hidden">Новинки от компании «Drink2Go».</h2>

        <!--Подключение библиотеки SWIPER-->
        <div class="swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="slide">
                <div class="slide__image-set">
                  {{ macros.picture("slide__image", "./img/", "slider-flat-white", "png", "Баночка кофейного напитка от компании «Drink2Go».", "280", "280") }}
                </div>
                <div class="slide__info">
                  <h3 class="slide__title">Декаф Флэт Уайт</h3>
                  <i class="slide__badge">Новинка!</i>
                  <p class="slide__text">Свежесваренный кофе без кофеина из Эфиопии с натуральным фермерским молоком — то, что нужно для расслабления после тяжёлого рабочего дня</p>
                  <p class="slide__group-order">
                    <del class="slide__oldprice">295₽</del>
                    <ins class="slide__price">225₽</ins>
                    <a class="button slide__button-order" href="#">Заказать</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="slide">
                <div class="slide__image-set">
                  {{ macros.picture("slide__image", "./img/", "slider-latte", "png", "Баночка кофейного напитка от компании «Drink2Go».", "280", "280") }}
                </div>
                <div class="slide__info">
                  <h3 class="slide__title">Лавандовый Латте</h3>
                  <i class="slide__badge">Новинка!</i>
                  <p class="slide__text">Невероятное сочетание перуанской высокогорной арабики с молоком ламы и лавандовым сиропом унесёт вас прямо на вершину Радужных гор</p>
                  <p class="slide__group-order">
                    <del class="slide__oldprice">285₽</del>
                    <ins class="slide__price">265₽</ins>
                    <a class="button slide__button-order" href="#">Заказать</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="slide">
                <div class="slide__image-set">
                  {{ macros.picture("slide__image", "./img/", "slider-espresso", "png", "Баночка кофейного напитка от компании «Drink2Go».", "280", "280") }}
                </div>
                <div class="slide__info">
                  <h3 class="slide__title">Тройной Эспрессо</h3>
                  <i class="slide__badge">Новинка!</i>
                  <p class="slide__text">Мощнее укола адреналина, чернее самой тёмной ночи, этот тройной эспрессо из Колумбии покажет вам, что такое настоящая бодрость</p>
                  <p class="slide__group-order">
                    <del class="slide__oldprice">395₽</del>
                    <ins class="slide__price">375₽</ins>
                    <a class=" button slide__button-order" href="#">Заказать</a>
                  </p>
                </div>
              </div>
            </div>

          </div>

          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <div class="swiper-scrollbar"></div>

        </div>
      </div>
    </section>

    <section class="page-main__advantages advantages">
      <div class="page__wrapper-center">
        <h2 class="advantages__title">Главные причины выбрать Drink2Go</h2>
        <i class="advantages__badge">Преимущества</i>

        <ul class="advantages__list">

          <li class="advantages__item advantages__item--speed">
            <h3 class="advantages__title">Скорость</h3>
            <p class="advantages__description">Готовый напиток всегда под рукой — просто открой банку</p>
          </li>

          <li class="advantages__item advantages__item--comfortable">
            <h3 class="advantages__title">Удобство</h3>
            <p class="advantages__description">Легко помещается и в карман, и в маленькую сумочку</p>
          </li>

          <li class="advantages__item advantages__item--invigorated">
            <h3 class="advantages__title">Бодрость</h3>
            <p class="advantages__description">Легко помещается и в карман, и в маленькую сумочку</p>
          </li>

          <li class="advantages__item advantages__item--ecology">
            <h3 class="advantages__title">Экологичность</h3>
            <p class="advantages__description">Вся упаковка сделана из перерабатываемых материалов</p>
          </li>

        </ul>
      </div>
    </section>

    <section class="page-main__index-catalog index-catalog">
      <div class="page__wrapper-center">
        <h2 class="index-catalog__title">Каталог кофейных напитков</h2>
        <i class="index-catalog__badge">Каталог</i>

        <form class="index-catalog__filters filters">

          <fieldset class="filters__group">
            <legend class="filters__group-title">Цена</legend>

            <div class="range">

              <div class="range__scale">
                <div class="range__bar">
                  <button class="range__toggle range__toggle--min" type="button">
                    <span class="page__hidden">Изменить минимальную цену.</span>
                  </button>
                  <button class="range__toggle range__toggle--max" type="button">
                    <span class="page__hidden">Изменить максимальную цену.</span>
                  </button>
                </div>
              </div>

              <div class="range__inputs-wrapper">
                <label class="range__inputs-label">
                  <span class="page__hidden">от</span>
                  <input class="range__input range__input--min" type="number" name="min-price" placeholder="0">
                </label>

                <span class="range__inputs-separator"></span>

                <label class="range__inputs-label">
                  <span class="page__hidden">до</span>
                  <input class="range__input range__input--max" type="number" name="max-price" placeholder="900">
                </label>
              </div>

            </div>
          </fieldset>

          <fieldset class="filters__group">
            <legend class="filters__group-title">Наличие молока</legend>

            <ul class="filter-radio">

              <li class="filter-radio__item">
                <label class="filter-radio__label">
                  <input class="filter-radio__input" type="radio" name="milk" value="indifferent" checked>
                  <span class="filter-radio__control-label">Неважно</span>
                </label>
              </li>

              <li class="filter-radio__item">
                <label class="filter-radio__label">
                  <input class="filter-radio__input" type="radio" name="milk" value="animal">
                  <span class="filter-radio__control-label">Только животное</span>
                </label>
              </li>

              <li class="filter-radio__item">
                <label class="filter-radio__label">
                  <input class="filter-radio__input" type="radio" name="milk" value="vegetable">
                  <span class="filter-radio__control-label">Только растительное</span>
                </label>
              </li>

              <li class="filter-radio__item">
                <label class="filter-radio__label">
                  <input class="filter-radio__input" type="radio" name="milk" value="without">
                  <span class="filter-radio__control-label">Без молока</span>
                </label>
              </li>

            </ul>
          </fieldset>

          <fieldset class="filters__group">
            <legend class="filters__group-title">Страна произрастания</legend>

            <ul class="filter-checkbox">

              <li class="filter-checkbox__item">
                <label class="filter-checkbox__label">
                  <input class="filter-checkbox__input" type="checkbox" name="manufacturer" value="brazil" checked>
                  <span class="filter-checkbox__control-label">Бразилия</span>
                </label>
              </li>

              <li class="filter-checkbox__item">
                <label class="filter-checkbox__label">
                  <input class="filter-checkbox__input" type="checkbox" name="manufacturer" value="ethiopia">
                  <span class="filter-checkbox__control-label">Эфиопия</span>
                </label>
              </li>

              <li class="filter-checkbox__item">
                <label class="filter-checkbox__label">
                  <input class="filter-checkbox__input" type="checkbox" name="manufacturer" value="colombia">
                  <span class="filter-checkbox__control-label">Колумбия</span>
                </label>
              </li>

              <li class="filter-checkbox__item">
                <label class="filter-checkbox__label">
                  <input class="filter-checkbox__input" type="checkbox" name="manufacturer" value="costa-rica">
                  <span class="filter-checkbox__control-label">Коста-Рика</span>
                </label>
              </li>

              <li class="filter-checkbox__item">
                <label class="filter-checkbox__label">
                  <input class="filter-checkbox__input" type="checkbox" name="manufacturer" value="peru">
                  <span class="filter-checkbox__control-label">Перу</span>
                </label>
              </li>

            </ul>
          </fieldset>

          <div class="filters__button">
            <button class="button filters__button-reset" type="reset">Сбросить фильтр</button>
          </div>

        </form>

        <div class="index-catalog__sorting sorting">
          <p class="sorting__label">Сортировка:</p>
          <details class="sorting__details">
            <summary class="sorting__summary">по умолчанию</summary>
            <div class="sorting__links-type">
              <a class="sorting__link" href="#">по умолчанию</a>
              <a class="sorting__link" href="#">сначала дорогие</a>
              <a class="sorting__link" href="#">сначала дешёвые</a>
              <a class="sorting__link" href="#">высокий рейтинг</a>
            </div>
          </details>
        </div>

        <div  class="index-catalog__products catalog">
          <ul class="catalog__list">

            <li class="catalog__card product">
              <a class="product__link product__link--title" href="#">
                <h3 class="product__title">Декаф Флэт Уайт</h3>
              </a>
              <a class="product__link product__link--image" href="#">
                {{ macros.picture("product__image", "./img/", "product-0", "png", "Баночка кофейного напитка от компании «Drink2Go».", "130", "188") }}
              </a>
              <p class="product__description">Кофе без кофеина из Эфиопии с натуральным фермерским молоком</p>
              <b class="product__price">225₽</b>
              <button class="button product__button-add" type="button">
                <span  class="product__button-text">В корзину</span>
              </button>
            </li>

            <li class="catalog__card product">
              <a class="product__link product__link--title" href="#">
                <h3 class="product__title">Декаф Флэт Уайт</h3>
              </a>
              <a class="product__link product__link--image" href="#">
                {{ macros.picture("product__image", "./img/", "product-1", "png", "Баночка кофейного напитка от компании «Drink2Go».", "130", "188") }}
              </a>
              <p class="product__description">Кофе без кофеина из Эфиопии с натуральным фермерским молоком</p>
              <b class="product__price">225₽</b>
              <button class="button product__button-add" type="button">
                <span  class="product__button-text">В корзину</span>
              </button>
            </li>

            <li class="catalog__card product">
              <a class="product__link product__link--title" href="#">
                <h3 class="product__title">Декаф Флэт Уайт</h3>
              </a>
              <a class="product__link product__link--image" href="#">
                {{ macros.picture("product__image", "./img/", "product-2", "png", "Баночка кофейного напитка от компании «Drink2Go».", "130", "188") }}
              </a>
              <p class="product__description">Кофе без кофеина из Эфиопии с натуральным фермерским молоком</p>
              <b class="product__price">225₽</b>
              <button class="button product__button-add" type="button">
                <span  class="product__button-text">В корзину</span>
              </button>
            </li>

            <li class="catalog__card product">
              <a class="product__link product__link--title" href="#">
                <h3 class="product__title">Декаф Флэт Уайт</h3>
              </a>
              <a class="product__link product__link--image" href="#">
                {{ macros.picture("product__image", "./img/", "product-3", "png", "Баночка кофейного напитка от компании «Drink2Go».", "130", "188") }}
              </a>
              <p class="product__description">Кофе без кофеина из Эфиопии с натуральным фермерским молоком</p>
              <b class="product__price">225₽</b>
              <button class="button product__button-add" type="button">
                <span  class="product__button-text">В корзину</span>
              </button>
            </li>

            <li class="catalog__card product">
              <a class="product__link product__link--title" href="#">
                <h3 class="product__title">Декаф Флэт Уайт</h3>
              </a>
              <a class="product__link product__link--image" href="#">
                {{ macros.picture("product__image", "./img/", "product-4", "png", "Баночка кофейного напитка от компании «Drink2Go».", "130", "188") }}
              </a>
              <p class="product__description">Кофе без кофеина из Эфиопии с натуральным фермерским молоком</p>
              <b class="product__price">225₽</b>
              <button class="button product__button-add" type="button">
                <span  class="product__button-text">В корзину</span>
              </button>
            </li>

            <li class="catalog__card product">
              <a class="product__link product__link--title" href="#">
                <h3 class="product__title">Декаф Флэт Уайт</h3>
              </a>
              <a class="product__link product__link--image" href="#">
                {{ macros.picture("product__image", "./img/", "product-5", "png", "Баночка кофейного напитка от компании «Drink2Go».", "130", "188") }}
              </a>
              <p class="product__description">Кофе без кофеина из Эфиопии с натуральным фермерским молоком</p>
              <b class="product__price">225₽</b>
              <button class="button product__button-add" type="button">
                <span  class="product__button-text">В корзину</span>
              </button>
            </li>

          </ul>
        </div>

        <div class="index-catalog__pagination pagination">
          <a class="pagination__toggle pagination__toggle--prev" href="#">
            <span class="pagination__toggle-text">Назад</span>
          </a>
          <ul class="pagination__list">

            <li class="pagination__item">
              <a class="pagination__link" href="#">1</a>
            </li>

            <li class="pagination__item">
              <a class="pagination__link pagination__link--current">2</a>
            </li>

            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>

          </ul>

          <a class="pagination__toggle pagination__toggle--next" href="#">
            <span class="pagination__toggle-text">Вперёд</span>
          </a>

        </div>

      </div>
    </section>
  </main>

  {% include "./templates/footer.twig" %}
  </body>

</html>
